<% provide(:title, 'EuRecomendo - Como Funciona') %> 
<h1>About Us</h1> <p>Find me in app/views/pages/about.html.erb</p>
<img src="https://uploaddeimagens.com.br/imagens/eu-recomendo.png" />

<%= image_tag "eu-recomendo.png",
            :alt => "Descricao img",
            :id => "id_img",
            :width => "139px",
            :height => "172px" %>
            
<img src="/images/nome_img.jpg" id="id_img" height="139px" width="172px" alt="Descricao img" />
            